<footer class="global-footer">
    <div class="container">
      <div class="identity">
        <a href="#" class="logo">
          <img src="{{ asset('assets/images/white_logo.svg') }}" alt="" />
        </a>
        <div class="social pull-right hidden-xs">
          <a href="https://twitter.com/Libon">
            <img src="{{ asset('assets/images/twitter_icon.svg') }}">
          </a>
          <a href="https://www.facebook.com/libon.fan">
            <img src="{{ asset('assets/images/facebook_icon.svg') }}">
          </a>
        </div>
      </div>
      <ul>
        <li class="hidden-xs">
          <h4>About Libon</h4>
          <ul>
            <li>
              <a href="#">
                Who are we?
              </a>
            </li>
            <li>
              <a href="#">
                Press reviews
              </a>
            </li>
            <li>
              <a href="#">
                Press releases
              </a>
            </li>
          </ul>
        </li>
        <li class="hidden-xs">
          <h4>International calls</h4>
          <ul>
            <li>
              <a href="#">
                Cheap calls to France
              </a>
            </li>
            <li>
              <a href="#">
                Cheap calls to Senegal
              </a>
            </li>
            <li>
              <a href="#">
                Cheap calls to Mali
              </a>
            </li>
            <li>
              <a href="#">
                Cheap calls to Portugal
              </a>
            </li>
            <li>
              <a href="#">
                All destinations
              </a>
            </li>
          </ul>
        </li>
        <li class="hidden-xs">
          <h4>Community</h4>
          <ul>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
            <li>
              <a href="#">
                FAQ
              </a>
            </li>
            <li>
              <a href="#">
                Support
              </a>
            </li>
            <li>
              <a href="#">
                Contact us
              </a>
            </li>
          </ul>
        </li>
        <li class="visible-xs">
          <h4>
            About Libon
            <i class="icon-arrow_down"></i>
          </h4>
          <ul>
            <li>
              <a href="#">
                Who are we?
              </a>
            </li>
            <li>
              <a href="#">
                Press reviews
              </a>
            </li>
            <li>
              <a href="#">
                Press releases
              </a>
            </li>
          </ul>
        </li>
        <li class="visible-xs">
          <h4>
            International calls
            <i class="icon-arrow_down"></i>
          </h4>
          <ul>
            <li>
              <a href="#">
                Cheap calls to France
              </a>
            </li>
            <li>
              <a href="#">
                Cheap calls to Senegal
              </a>
            </li>
            <li>
              <a href="#">
                Cheap calls to Mali
              </a>
            </li>
            <li>
              <a href="#">
                Cheap calls to Portugal
              </a>
            </li>
            <li>
              <a href="#">
                All destinations
              </a>
            </li>
          </ul>
        </li>
        <li class="visible-xs">
          <h4>
            Community
            <i class="icon-arrow_down"></i>
          </h4>
          <ul ng-show="footermenu1">
            <li>
              <a href="#">
                Blog
              </a>
            </li>
            <li>
              <a href="#">
                FAQ
              </a>
            </li>
            <li>
              <a href="#">
                Support
              </a>
            </li>
            <li>
              <a href="Contact-Us">
                Contact us
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="social pull-right visible-xs">
        <a href="https://twitter.com/Libon">
          <img src="{{ asset('assets/images/twitter_icon.svg') }}">
        </a>
        <a href="https://www.facebook.com/libon.fan">
          <img src="{{ asset('assets/images/facebook_icon.svg') }}">
        </a>
      </div>
    </div>
   </footer>
   <footer class="second-footer">
     <div class="container">
      <div class="text-center">
        <ul>
          <li>
            <a href="#">
              Terms and conditions
            </a>
          </li>
          <li>
            <a href="#">
              Privacy
            </a>
          </li>
          <li>
            &copy; {{ "now"|date("Y") }} Libon
          </li>
        </ul>
      </div>
     </div>
   </footer>
  <a class="to-top">
  </a>