<!-- nav header -->
<header class="main-header">
  <a href="" class="logo">
    <img src="{{ asset('assets/images/white_logo.svg') }}" alt="" />
  </a>
  <a class="mobile-menu-icon">
    <i class="icon-menu visible-xs"></i>
  </a>

  <menu class="mobile-menu">
    <i class="icon-close"></i>
    <ul>
      <li>
        <a href="#">
          Rates
        </a>
      </li>
      <li>
        <a href="#">
          support
        </a>
      </li>
      <li>
        <a href="#" class="flags-list">
          language
          <span class="pull-right">
            English
            <i class="icon-arrow_down"></i>
          </span>
        </a>
        <div class="langs">
          <div class="">
            <img src="{{ asset('assets/images/eng-GB.gif') }}" alt="" /> English
          </div>
          <div class="">
            <img src="{{ asset('assets/images/esl-ES.gif') }}" alt="" /> Español
          </div>
          <div class="">
            <img src="{{ asset('assets/images/fre-FR.gif') }}" alt="" /> Français
          </div>
        </div>
      </li>
    </ul>
  </menu>

  <div class="right-section pull-right hidden-xs">
    <nav class="pull-left">
      <ul>
         <li>
          <a href="Rates">
            Rates
          </a>
        </li>
        <li>
          <a href="#">
            Support
          </a>
        </li>
        <li class="has_menu lang-switch">
          <a href="#">
            <img src="{{ asset('assets/images/eng-GB.gif') }}" alt="" />
            English
          </a>
          <ul class="lang-list">
            <li>
              <a href="#">
                <img src="{{ asset('assets/images/eng-GB.gif') }}" alt="" />
                English
              </a>
            </li>
            <li>
              <a href="#">
                <img src="{{ asset('assets/images/esl-ES.gif') }}" alt="" />
                Español
              </a>
            </li>
            <li>
              <a href="#">
                <img src="{{ asset('assets/images/fre-FR.gif') }}" alt="" />
                Français
              </a>
            </li>
          </ul>
        </li>
        <!-- <li class="has_menu">
          <a href="#">
            Device€
          </a>
        </li> -->
      </ul>
    </nav>
    <div class="social pull-left">
            <a href="https://twitter.com/Libon">
                <img src="{{ asset('assets/images/twitter_icon.svg') }}">
            </a>
            <a href="https://www.facebook.com/libon.fan">
                <img src="{{ asset('assets/images/facebook_icon.svg') }}">
            </a>
        </div>
  </div>
</header>